name: CI (external action)

on:
  push:
    branches:
      - main

jobs:
  ci2:
    runs-on: ubuntu-latest

    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
      - uses: actions/checkout@v2
      - run: bash -c "sleep 60 && echo 'done'"
